[flake8]
max-line-length = 79
extend-ignore =
    # E203: whitespace before ':' (black compat)
    E203,
    # W503: line break before binary operator (black compat)
    W503,
    # E731: lambda assignment
    E731,
exclude =
    .git,
    __pycache__,
    static,
    venv,
    .venv,
    env,
