beautifulsoup4==4.9.3
bs4==0.0.1
Flask==2.0.1
joblib==1.1.0
matplotlib==3.4.3
nltk==3.6.2
numpy==1.21.0
requests==2.26.0
scikit-learn==0.24.2
stopwords==1.0.0
wordcloud==1.8.1
Flask==2.0.1
nltk==3.6.3
joblib==1.1.0
requests==2.26.0
numpy==1.21.2
beautifulsoup4==4.10.0
matplotlib==3.4.3
wordcloud==1.8.1
beautifulsoup4==4.10.0
bs4==0.0.1
flask==2.1.1
joblib==1.0.1
matplotlib==3.4.3
nltk==3.6.3
numpy==1.21.2
psutil==5.8.1
requests==2.26.0
wordcloud==1.10.3
